<?xml version="1.0" encoding="utf-8"?>
<daoConfig
  xmlns="http://ibatis.apache.org/dataAccess"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <providers resource="config/providers.config"/>
  <context id="SqlMapDao" default="true">
    <database>
      <provider name="MySql"/>
      <dataSource name="WarOfFour" connectionString="server=127.0.0.1;UserName=root;Password=123456;Database=WarOfFour;Port=3306;" />
    </database>
    <!--<database>
      <provider name="SQLite3"/>
      <dataSource name="Aimvc" connectionString="Data Source=|DataDirectory|\aimvc.db;Version=3;"/>
    </database>-->
    <daoSessionHandler id="SqlMap">
      <property name="resource" value="config/SqlMap.config"/>
    </daoSessionHandler>

    <daoFactory assembly="WarOfFour.Service.dll">
      <!--对局信息-->
      <dao interface="WarOfFour.Service.IGameDao, WarOfFour.Service" implementation="WarOfFour.Service.GameDao, WarOfFour.Service"/>
    </daoFactory>


  </context>
</daoConfig>
